/* .landing-body {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 700px;
  overflow: hidden;
}

.landing-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.landing-image {
  height: auto;
  width: 100%;
} */
